<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<title>Presonagens</title>
</head>
<body>
    <div id="listaDePersonagens" style="width: 70%; margin: auto;">
        <h1>Lista de Personagens</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 30%;">Nome</th>
                    <th style="width: 50%;">Descrição</th>
                    <th style="width: 20%;">Última Atualização</th>
                </tr>
            </thead>
            <tr th:each="row : ${page}">
                <td style="width: 30%;"><span th:text="${row.name}"></span></td>
                <td style="width: 50%;"><span th:text="${row.description}"></span></td>
                <td style="width: 20%;"><span
                    th:text="${#dates.format(row.modified, 'dd/MM/yyyy')}"></span></td>
            </tr>
        </table>
        <div>
            <div>
                <nav class="pull-center" style="text-align: center;">
                    <ul class="pagination" sd:pagination="full">
                        <li class="disabled">
                            <a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                        <li class="active">
                            <a href="#">1 <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>